[Unit]
Description=Web Application Service
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/csye6225/webapp/app.js
WorkingDirectory=/opt/csye6225/webapp
Restart=always
User=csye6225
Group=csye6225
EnvironmentFile=/opt/csye6225/webapp/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target